@import "../utilidades/variables";
@import "../utilidades/mixin";

/*final de pagina se repite en todos los html*/
.final-pag {
  @include flex-around;
  align-items: center;
  margin: 100px;
  .boton-flcha img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 3px 5px 20px $color-sombra;
    cursor: pointer;
  }
  .boton-contacto a {
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    cursor: pointer;
    background-image: linear-gradient(
      to right,
      rgba(114, 114, 114, 0.851) 50%,
      rgb(47, 98, 209) 50%
    );
    background-size: 200%;
    background-repeat: no-repeat;
    background-position: left;
    transition: background-position 1s ease;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 3px 5px 10px #000000;
    &:hover {
      background-position: right;
      box-shadow: none;
    }
  }
  .boton-whatsapp img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }
  
}
