.footer {
    font-family: "Anek Devanagari", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-size: 15px;
    text-align: center;
    background-image: linear-gradient(#3875bf3f, #eeeeee3f);
    color: #000000;
  }