@import "../utilidades/variables";
@import "../utilidades/mixin";
/*media Q*/
/*estlios tablet de la pag de inicio*/
@media screen and (max-width: 1023px) {
  .foto img {
    display: flex;
    width: 100%;
  }
  .section-2 {
    @include grid-fr;
    margin: 10px;
    padding: 10px;
  }
  .section-2 .imag1 img {
    width: 100%;
    height: 500px;
  }
  .section-2 .imag2 {
    @include borrar;
  }
  /*estilos de tablet pag zapatos*/
  .imag-zapatos {
    display: flex;
    width: 100%;
  }
  .imag-zapatos-mujer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 40px;
  }
  .imag-zapatos-mujer img {
    width: 450px;
    height: 400px;
    margin: 5%;
  }
  /*estilos tablet pag marroquineria*/

  .fila {
    padding: -20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .fila .columna {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .columna2 {
    @include borrar;
  }
  /*estolos tablet para pg vestimenta*/

  .principal-v {
    @include grid-fr;
  }

  .contenedor-v .tex-v h1 {
    @include flex-centro;
  }
  .contenedor-v .tex-v p {
    @include flex-centro;
    align-items: center;
    height: 100%;
    margin: 10px;
  }

  .imag-parte2 .fotos-v {
    display: flex;
    justify-content: space-around;
    gap: 40px;

  }
}
