/*estilo pagina vestimenta*/
@import "../utilidades/variables";
@import "../utilidades/mixin";

.principal-v {
  .foto-principal-v {
    img {
      position: relative;
      top: 60px;
      margin-left: 100px;
    }
  }
  .contenedor-v {
    .tex-v {
      @include flex-centro;
      h1 {
        display: flex;
        justify-content: center;
        margin: 90px;
        font-family: "Edu VIC WA NT Beginner", cursive;
        font-optical-sizing: auto;
        font-weight: weight;
        font-style: normal;
        font-size: 60px;
        text-align: center;
        color: #fff;
        text-shadow: 3px 5px 15px $color-sombra;
      }
      p {
        position: relative;
        text-align: center;
        font-family: "Caveat", cursive;
        font-optical-sizing: auto;
        font-weight: weight;
        font-style: normal;
        font-size: 28px;
        margin: 40px;
        p {
          text-align: center;
          font-family: "Caveat", cursive;
          font-optical-sizing: auto;
          font-weight: weight;
          font-style: normal;
          font-size: 30px;
        }
      }
    }
  }
  .imag-parte2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    margin-top: 20px;
    flex-wrap: no-wrap;

    .fotos-v {
      @include flex-centro;
      gap: 40px;
      height: 350px;
      width: 220px;
      flex: 15%;
      &:hover {
        transform: scale(1.1);
        transition: 2s;
      }
    }
  }
}
