/*estilos pagina zapatos*/
@import "../utilidades/variables";
@import "../utilidades/mixin";
.principal-main-zapatos {
  div {
    @include flex-centro;
    align-items: center;
    position: relative;
    top: 50px;
    h1 {
      font-family: "Edu VIC WA NT Beginner", cursive;
      font-optical-sizing: auto;
      font-weight: weight;
      font-style: normal;
      font-size: 50px;
      text-align: center;
      margin: 30px;
      color: #fff;
      text-shadow: 3px 5px 10px $color-sombra;
    }
  }
  section {

    .presentacion-zapatos {
      @include flex-between;
      .imag-zapatos {
        img {
          width: 600px;
          height: 550px;
          margin: 10px;
          border-radius: 15px;
        }
      }
    }
    .tex-z {
      p {
        text-align: center;
        font-family: "Caveat", cursive;
        font-optical-sizing: auto;
        font-weight: weight;
        font-style: normal;
        font-size: 28px;
        position: relative;
        margin: 100px;
      }
    }
    .imag-zapatos-mujer img {
        width: 620px;
        height: 550px;
        margin: 15px;
        margin-top: 50px;
        border-radius: 15px;
      }
  }

}
