$color-body:rgb(221, 221, 221);
$color-encab:rgba(249, 254, 255, 0.851);
$color-sombra:#2e5f9b;
$color-cai:rgba(255, 0, 0, 0.874);
$color-progre:rgb(0, 0, 216);
$color-esme:rgb(56, 219, 11);
$color-otto:#000000;